 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <title>Document</title>
 </head>
 <body>
     
     <button class="btn btn-success">awesome</button>
     <script src="../jq/jquery.js" type="text/javascript"> </script>
     <script src="../js/bootstrap.js" type="text/javascript"> </script>
 </body>
 </html>

 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LendKaro</title>
    <meta name="author" content="Shashank Kumar,Utkarsh Pandey & ashish kumar">
    <meta name="description" content="Here you can lend and borrow any thing having a price under 10,000.">
    <link rel="stylesheet" href="consumer.css">
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rochester&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="consumer-basic-data">
      <div class="title">Please provide the following informations to continue</div>
        <form action="/customer" method="POST">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Type</span>
              <input id= "inp1" type="text" name="product" placeholder="Enter the type"required>
            </div>
            <div class="input-box">
              <span class="details">address</span>
              <input id= "inp2" type="text" name="Address" placeholder="Enter your location"required>
            </div>
            <!-- <div class="input-box">
              <span class="details">time slot</span>
              <input id= "inp3" type="datetime-local" required>
            </div> -->
          </div>
          <div class="button">
            <input type="submit" name="" value="submit">
          </div>
        </form>
    </div>
    {{!-- <script src="server.js"></script> --}}
  </body>
  </html>